.App {
  text-align: center;
}

.course-item {
  color: blueviolet;
  border: 5px solid peru;
  width: 350px;
  margin: 5px;
  align-content: center;
  background-color: aquamarine;
  margin-left: 40px;
}
.course-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
